<link rel='stylesheet' href='/css/profileStudent.css' />

<% layout('layout/pattern') -%>
<% block('title') -%>

<section id="sidebar">
  <div class="white-label">

  </div>
  <div id="sidebar-nav">
    <ul>
      <li><a href="/personalArea">Personal Area</a></li>
      <li><a href="http://app-ait.herokuapp.com/" target="_blank">Old version</a></li>
      <li><a href="/signout">Logout</a></li>
    </ul>
  </div>
</section>

<section id="content">
  <div class="content">
    <div class="content-header">
      <h1>Profile student</h1>
      <p><%=name%></p>
    </div>

    <div class="widget-box sample-widget">

      <div class="widget-content">
        <td aria-label="Test settings"><a href="/test_settings/id<%=id%>">Start</a></td>
        <div class="public-profile">
          <img alt="image" src="https://www.w3schools.com/howto/img_avatar.png">

          <input type="file" name="photo" multiple accept="image/*,image/jpeg">

        </div>
        <div class="widget-content">
          <div class="section">
            <h2 class="info-section"><a href="#">Information</a></h2>
            <div class="info-section__table">
              <table class="info-section__table--data">
                <tbody>
                  <form action="/updateStudent/id<%=id%>" method="POST" name="updateStudentForm">
                    <tr>
                      <td>Login</td>
                      <td><input type="text" id="flogin" name="login" value="<%=login%>"></td>
                    </tr>
                    <tr>
                      <td>Name</td>
                      <td><input type="text" id="fname" name="name" value="<%=name%>"></td>
                    </tr>
                    <tr>
                      <td>Age</td>
                      <td><input type="number" id="fage" name="age" min="5" max="200" value="<%=age%>"></td>
                    </tr>
                    <tr>
                      <td>Gender</td>
                      <td>
                        <select id="fgender" name="gender" >
                          <% switch (gender) {
                            case "Male": %>
                            <OPTION><%=gender%></OPTION>
                            <OPTION>Female</OPTION>
                            <OPTION>Non-binary</OPTION>
                            <OPTION>Not-applicable</OPTION>
                            <OPTION>I prefer not say</OPTION>
                            <% break;%> <%
                            case "Female": %>
                            <OPTION><%=gender%></OPTION>
                            <OPTION>Male</OPTION>
                            <OPTION>Non-binary</OPTION>
                            <OPTION>Not-applicable</OPTION>
                            <OPTION>I prefer not say</OPTION>
                            <% break;%> <%
                            case "Non-binary": %>
                            <OPTION><%=gender%></OPTION>
                            <OPTION>Male</OPTION>
                            <OPTION>Female</OPTION>
                            <OPTION>Not-applicable</OPTION>
                            <OPTION>I prefer not say</OPTION>
                            <% break;%> <%
                            case "Not-applicable": %>
                            <OPTION><%=gender%></OPTION>
                            <OPTION>Male</OPTION>
                            <OPTION>Female</OPTION>
                            <OPTION>Non-binary</OPTION>
                            <OPTION>I prefer not say</OPTION>
                            <% break;%> <%
                            case "I prefer not say": %>
                            <OPTION><%=gender%></OPTION>
                            <OPTION>Male</OPTION>
                            <OPTION>Female</OPTION>
                            <OPTION>Non-binary</OPTION>
                            <OPTION>Not-applicable</OPTION>
                            <% break;%> <%
                          } %>
                        </select>
                      </td>
                      <tr>
                        <td class="edit-buttons">
                          <input type="submit" class="edit-buttons" value="Update student">
                        </td>
                      </form>
                      <td>
                        <form action="/deleteStudent/id<%=id%>" method="POST" name="deleteStudentForm">
                          <input type="submit" class="delete-buttons" onclick="return confirmDelete();" value="Delete student">
                        </form>
                      </td>
                    </tr>
                  </tr>
                </tbody>
              </table>
            </div>

            <h2 class="section__heading">Applications</h2>
            <div class="section__button">
              <button class="tablinks" onclick="openTest(event, 'Blog')">Blog</button>
              <button class="tablinks" onclick="openTest(event, 'Discuss')">Discuss</button>
              <button class="tablinks" onclick="openTest(event, 'Hackathon')">Hackathon</button>
            </div>
            <div id="Blog" class="tabcontent">
              <div class="section__blog">
                <div class="icons"><span><i class="fa fa-certificate color--brown" ></i></span><p>Nice blogger</p></div>
                <div class="icons"><span><i class="fa fa-certificate color--brown" ></i></span><p>Good blogger</p></div>
                <div class="icons"><span><i class="fa fa-certificate color--brown" ></i></span><p>Great blogger</p></div>
              </div>
            </div>
            <div id="Discuss" class="tabcontent">
              <div class="section__discuss">
                <div class="icons"><span><i class="fa fa-certificate color--brown" ></i></span><p>Welcome</p></div>
                <div class="icons"><span><i class="fa fa-certificate color--brown" ></i></span><p>First emoji</p></div>
                <div class="icons"><span><i class="fa fa-certificate color--brown" ></i></span><p>Editor</p></div>
                <div class="icons"><span><i class="fa fa-certificate color--brown" ></i></span><p>First like</p></div>
                <div class="icons"><span><i class="fa fa-certificate color--brown" ></i></span><p>Top 3</p></div>
              </div>
            </div>
            <div id="Hackathon" class="tabcontent">
              <div class="section__hackathon">
                <div class="icons"><span><i class="fa fa-trophy color--yellow"></i></span><p>Top 3</p></div>
                <div class="icons"><span><i class="fa fa-trophy color--grey"></i></span><p>Top 25</p></div>
                <div class="icons"><span><i class="fa fa-trophy color--brown"></i></span><p>Top 5</p></div>
                <div class="icons"><span><i class="fa fa-trophy color--brown"></i></span><p>Top 5</p></div>
                <div class="icons"><span><i class="fa fa-trophy color--brown"></i></span><p>Top 5</p></div>
                <div class="icons"><span><i class="fa fa-trophy color--brown"></i></span><p>Top 5</p></div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/confirmDelete.js"></script>
<script src="/js/profileStudentTabContent.js"></script>
