<div class="widget-box sample-widget">
  <div class="widget-header">
    <h2>My Students</h2>
    <i class="fa fa-cog"></i>
  </div>
  <div class="widget-content">
    <table class="table">
      <tr>
        <th>№</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th class="empty"></th>
      </tr>

      <tr>
          <% for (var i = 0; i < students.length; i++) { %>
          <tbody>
            <tr>
              <td><%=i+1%></td>
              <td><a href="/publicProfile/students/id<%=students[i].id%>"><%=students[i].name%></a></td>
              <td><%=students[i].gender%></td>
              <td><%=students[i].age%></td>
              <form action="/deleteStudent/id<%=students[i].id%>" method="POST" name="deleteStudentForm">
                <td class="delete"><button class="delete-buttons" onclick="return confirmDelete();">Delete</button></td>
              </form>
            </tr>
          </tbody>

          <% } %>
        </tr>
      </table>
    </div>
  </div>


  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="container">

        <% if (pages > 0) { %>
            <ul class="pagination text-center">
                <% if (current == 1) { %>
                    <li class="disabled"><a>First</a></li>
                <% } else { %>
                    <li><a href="/students/1">First</a></li>
                <% } %>
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                    <li class="disabled"><a>...</a></li>
                <% } %>
                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                    <% if (i == current) { %>
                        <li class="active"><a><%= i %></a></li>
                    <% } else { %>
                        <li><a href="/students/<%= i %>"><%= i %></a></li>
                    <% } %>
                    <% if (i == Number(current) + 4 && i < pages) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                <% } %>
                <% if (current == pages) { %>
                    <li class="disabled"><a>Last</a></li>
                <% } else { %>
                    <li><a href="/students/<%= pages %>">Last</a></li>
                <% } %>
            </ul>
        <% } %>
</div>
