<link rel='stylesheet' href='/css/applications/moneygame/takeChangee.css' />
<link rel='stylesheet' href='/css/applications/moneygame/main.css' />

<% layout('../../layout/pattern') -%>
    <%-partial('../../partials/leftVerticalMenu')%>

        <section id="content">
            <div class="content">
                <div class="content-header">
                    <h1>Customize MoneyGame</h1>
                </div>
                <div class="container">
                    <div class="pagination">
                        <a href="/customizeMoneyGame/collectionMoney/id<%=student.id%>">Collection Money</a>
                        <a href="/customizeMoneyGame/selectionGoods/id<%=student.id%>">Selection Goods</a>
                        <a href="/customizeMoneyGame/paymentPurchase/id<%=student.id%>">Payment Purchase</a>
                        <a href="/customizeMoneyGame/takeChangee/id<%=student.id%>" class="a-active">Take Changee</a>
                    </div>
                    <%-partial('./partials/settings')%>
                        <div class="game">
                            <div class="game-header">
                                <img class="nav-btn" id="backBtn" title="Back Button">
                                <div id="progressBar" class="none" title="Progress Bar"><div></div></div>
                                <img class="nav-btn none" id="nextBtn" title="Next Button">
                                <img class="nav-btn" id="againBtn" title="Again Button">
                            </div>
                            <div class="main">
                                <div class="row">
                                    <div class="game-block"><img src="/applications/money_game/money/1cents.png"></div>
                                    <div class="game-block"><img src="/applications/money_game/money/2cents.png"></div>
                                    <div class="game-block"><img src="/applications/money_game/money/5cents.png"></div>
                                </div>
                                <div class="row">
                                    <div class="game-block"><img src="/applications/money_game/money/10cent.png"></div>
                                    <div class="game-block"><img src="/applications/money_game/money/20cent.png"></div>
                                    <div class="game-block"><img src="/applications/money_game/money/50cent.png"></div>
                                </div>
                                <div class="row">
                                    <div class="game-block"><img src="/applications/money_game/money/1euro.png"></div>
                                    <div class="game-block"><img src="/applications/money_game/money/2euro.png"></div>
                                </div>
                                <div class="row">
                                    <div class="game-block"><img src="/applications/money_game/money/5euro.png"></div>
                                    <div class="game-block"><img src="/applications/money_game/money/10euro.png"></div>
                                    <div class="game-block"><img src="/applications/money_game/money/20euro.png"></div>
                                </div>
                                <div class="row">
                                    <div class="game-block"><img src="/applications/money_game/money/50euro.png"></div>
                                    <div class="game-block"><img src="/applications/money_game/money/100euro.png"></div>
                                    <div class="game-block"><img src="/applications/money_game/money/200euro.png"></div>
                                </div>
                            </div>
                            <div class="game-footer">
                                <img id="wallet" title="Wallet">
                                <img id="basket" class="none"></div>
                            </div>

                        </div>
                </div>
            </div>
        </section>

        <%-partial('./partials/settingsLogic')%>
