<% layout('../layout/pattern') -%>
<%- partial('../partials/confirm.ejs') %>

<link rel='stylesheet' href='/css/personalArea.css'/>

<div class="page">
    <%- partial('../partials/leftVerticalMenu') %>
    <div class="right-column">
        <div class="container">

            <div class="block"><p>Search for a module by name</p>
                <div class="modal__form">
                    <input type="text" name="text_search_module" size="45" maxlength="100"
                           placeholder="Search">
                    <div style="width: 100%">
                        <button type="button" class="btn_search_module" style="width: 75%; margin-left: 5%">Search
                        </button>
                        <button type="button" class="btn_search_module_reset" style="width: 15%; float: right">Reset
                        </button>
                    </div>

                </div>

                <p>List of modules</p>
                <table border="0">
                    <tr class="table__headRow">
                        <th>#</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                    <tr>
                        <% for (var i = 0; i < modules.length; i++) { %>
                            <tbody class="module-string">
                            <tr class="info">
                                <td>
                                    <%= i + 1 %>
                                </td>
                                <td>
                                    <a href="/modules/detail/id<%= modules[i].id %>">
                                        <%= modules[i].name %>
                                    </a>
                                </td>
                                <td class="delete">
                                    <button class="deleteBtn" value="/delete-module/id<%= modules[i].id %>"
                                            onclick="toggleConfirm()">Delete
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        <% } %>
                    </tr>
                </table>
            </div>

            <div class="block">
                <p>Add new module</p>
                <form action="/addNewModule" method="POST" class="modal__form" name="addNewModuleForm">
                    <label for="login">Name</label>
                    <input type="text" name="name" value="" required>
                    <label for="url">Url</label>
                    <input type="text" name="url" required>
                    <span class="error"></span>
                    <button type="submit" name="button">Add</button>
                </form>
                <div class="instruction">
                    <p>1. Follow multi module architecture described below.
                        <img src="/system_images/module_architecture.png"></p>
                    <p> 2. Upload you module use any public git repository</p>
                    <p>3. Build your module using JitPack</p>
                    <p>4. Fill module description in file README.md</p>
                    <p>5. Add link on repository with module below</p>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    var form = $('form[name="addNewModuleForm"]');

    form.submit(function (e) {
        e.preventDefault();

        let newModule = {};

        newModule.name = $("input[name='name']").val();
        newModule.url = $("input[name='url']").val();

        $.ajax({
            type: "POST",
            url: "/addNewModule",
            data: JSON.stringify(newModule),
            dataType: "json",
            contentType: "application/json",
            statusCode: {
                200: function () {
                    form.trigger('reset'); // очистить поля формы
                    $('.error', form).html('');
                    window.location.reload(); // после AJAX пагинации убрать, т.к надо отрисовывать еще при добавлении
                }
            }
        });
    });
</script>

<script>
    $('.btn_search_module').on("click", function () {
        let data = {};
        data.search_module = $("[name=text_search_module]").val();

        $.ajax({
            url: '/searchModule',
            type: "POST",
            data: data,
            cache: false,
            success: function (response) {

                $('.module-string').remove();
                showModules(response['modules']);
            }
        });

    });

    $('.btn_search_module_reset').on("click", function () {
        $("input[name='text_search_module']").val('');

        $.ajax({
            url: '/resetSearchModule',
            type: "POST",
            cache: false,
            success: function (response) {

                $('.module-string').remove();
                showModules(response['modules']);
            }
        });

    });

    function showModules(data) {
        data.forEach((element, index) => {

            $("table").append(
                `
                            <tbody class="module-string">
                        <tr class="info">
                            <td>
                             ${index + 1}
                            </td>
                            <td>
                                <a href="/modules/detail/id${element._id}">
                                    ${element.name}
                                </a>
                            </td>
                            <td class="delete">
                                <button class="deleteBtn"  value="/delete-module/id${element._id}" onclick="toggleConfirm()">Delete</button>
                            </td>
                        </tr>
                        </tbody>
                            `
            );

        });
    }
</script>