<% if(coaches.length > 0) { %>
  <!-- Пока такая костылина, т.к стили кабинета переопределяют стили в профили студента-->
  <link rel='stylesheet' href='/css/personalArea.css' />

  <div class="widget-box sample-widget">
    <div class="widget-header">
      <h2>Coaches</h2>
      <i class="fa fa-cog"></i>
    </div>
      <% if(coaches.length > 0) { %>
    <div class="widget-content">
      <table class="table">
        <tr>
          <th>№</th>
          <th>Email</th>
          <th class="empty"></th>
        </tr>

        <tr>
          <% for (var i=0; i<lengthCoaches; i++) { %>
            <tbody>
              <tr>
                <td><%=i+1%></td>
                <td><a href="/publicProfile/id<%=coaches[i].id%>"><%=coaches[i].email%></a></td>
                <!-- <form action="/editStudent/id<%=coaches[i].id%>" method="POST" name="editStudentForm">
                  <td class="edit"><button class="edit-buttons">Edit</button></td>
                </form> -->
                <form action="/deleteCoach/id<%=coaches[i].id%>" method="POST" name="deleteCoachForm">
                  <td class="delete"><button class="delete-buttons" onclick="return confirmDelete();">Delete</button></td>
                </form>
              </tr>
            </tbody>
            <% } %>
          </tr>
        </table>
      </div>
        <% } %>
    </div>

    <div class="widget-box sample-widget">
      <div class="widget-header">
        <h2>New coach</h2>
        <i class="fa fa-cog"></i>
      </div>
      <div class="widget-content">
        <form action="/addNewCoach" method="POST" name="addNewCoachForm">
          <input  name="idTag" type="hidden" value="<%=idTag%>">
          
          <label for="femail">Email</label>
          <input type="email" id="femail" name="email" placeholder="Enter email">

          <label for="fpassword">Password</label>
          <input type="text" id="fpassword" name="password" placeholder="Create password">

          <input type="submit" value="Create new coach">
          <span class="help-block error"></span>
        </form>
      </div>
    </div>
   <% }  else if(students.length > 0) { %>
        <%-partial('../../partials/publicProfile/coach')%>
  <% } else if(student != null){ %>
        <%-partial('../../partials/publicProfile/student')%>
    <% } %>
