<% if(students.length > 0) { %>
  <link rel='stylesheet' href='/css/personalArea.css' />
    <div class="widget-box sample-widget">
      <div class="widget-header">
        <h2>Students</h2>
        <i class="fa fa-cog"></i>
      </div>
      <% if(students.length > 0) { %>
      <div class="widget-content">
        <table class="table">
          <tr>
            <th>№</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th class="empty"></th>
          </tr>

          <tr>
            <% for (var i=0; i<lengthStudents; i++) { %>
              <tbody>
                <tr>
                  <td><%=i+1%></td>
                  <td><a href="/publicProfile/id<%=students[i].id%>"><%=students[i].name%></a></td>
                  <td><%=students[i].gender%></td>
                  <td><%=students[i].age%></td>
                  <!-- <form action="/editStudent/id<%=students[i].id%>" method="POST" name="editStudentForm">
                    <td class="edit"><button class="edit-buttons">Edit</button></td>
                  </form> -->
                  <form action="/deleteStudent/id<%=students[i].id%>" method="POST" name="deleteStudentForm">
                    <td class="delete"><button class="delete-buttons" onclick="return confirmDelete();">Delete</button></td>
                  </form>
                </tr>
              </tbody>
              <% } %>
            </tr>
          </table>
        </div>
            <% } %>
      </div>

      <div class="widget-box sample-widget">
        <div class="widget-header">
          <h2>New student</h2>
          <i class="fa fa-cog"></i>
        </div>
        <div class="widget-content">
          <form action="/addNewStudent" method="POST" name="addNewStudentForm">
            <input  name="idTag" type="hidden" value="<%=idTag%>">

            <label for="flogin">Login</label>
            <input type="text" id="flogin" name="login" placeholder="Enter login">

            <label for="fpassword">Password</label>
            <input type="text" id="fpassword" name="password" placeholder="Create password">

            <label for="fname">Name</label>
            <input type="text" id="fname" name="name" placeholder="Enter name">

            <label for="fage">Age</label>
            <input type="number" id="fage" name="age" min="5" max="200" placeholder="Enter age">

            <label for="fgender">Gender</label>
            <select id="fgender" name="gender">
              <option>Male</option>
              <option>Female</option>
              <option>Non-binary</option>
              <option>Non-applicable</option>
              <option>I prefer not say</option>
            </select>

            <input type="submit" value="Create new student">
            <span class="help-block error"></span>
          </form>
        </div>
      </div>
<% }  else if(student != null) { %>
        <%-partial('../../partials/publicProfile/student')%>
      <% } %>

      <!-- <div class="widget-box sample-widget">
        <div class="widget-header">
          <h2>New student</h2>
          <i class="fa fa-cog"></i>
        </div>
        <div class="widget-content">
          <form action="/addNewStudent" method="POST" name="addNewStudentForm">
            <label for="flogin">Login</label>
            <input type="text" id="flogin" name="login" placeholder="Enter login">

            <label for="fpassword">Password</label>
            <input type="text" id="fpassword" name="password" placeholder="Create password">

            <label for="fname">Name</label>
            <input type="text" id="fname" name="name" placeholder="Enter name">

            <label for="fage">Age</label>
            <input type="number" id="fage" name="age" min="5" max="200" placeholder="Enter age">

            <label for="fgender">Gender</label>
            <select id="fgender" name="gender">
              <option>Male</option>
              <option>Female</option>
              <option>Non-binary</option>
              <option>Non-applicable</option>
              <option>I prefer not say</option>
            </select>

            <input type="submit" value="Create new student">
            <span class="help-block error"></span>
          </form>
        </div>
      </div> -->
