<link rel='stylesheet' href='/css/profileStudent.css' />

<style>
  .pictograms {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
  }

  .pictograms__inputs {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .pictograms__input__field,  .pictograms__input__delete {
    width: calc(100%/6 - 5px)!important;
    min-width: calc(100%/6 - 5px)!important;
    height: 60px;
    min-height: 60px;
    margin-bottom: 0!important;
  }

  .pictograms__input__delete {
    font-size: 25pt;
    color: rgb(228, 80, 60);
  }

  .pictograms__values {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 190px;
    overflow-y: scroll;
  }

  .pictograms__values__field {
    width: calc(100%/4 - 5px);
    height: 95px;
    margin-bottom: 5px;
    background-color: grey;
  }

  .pictograms__values__field__image {
    width: 100%;
    height: 100%;
  }

  .pictograms__values__field__value {
    display: none;
  }

  .pictograms__state {
    display: none;
  }
</style>

<div class="block">
  <p>Information</p>
  <form class="modal__form" name="addNewStudentForm">
    <div class="photo-line">
      <div class="photo">
      </div>
      <input type="file" name="" value="" id="load-photo">
    </div>
    <label for="login">Login</label>

    <div class="pictograms">
      <p class="pictograms__state" id="login"><%=student.login%></p>
      <div class="pictograms__inputs">
        <img class="pictograms__input__field" src="/system_images/white.jpg">
        <img class="pictograms__input__field"  src="/system_images/white.jpg">
        <img class="pictograms__input__field"  src="/system_images/white.jpg">
        <img class="pictograms__input__field"  src="/system_images/white.jpg">
        <img class="pictograms__input__field"  src="/system_images/white.jpg">
        <input type="button" class="pictograms__input__delete" value="&#10006;">
      </div>
      <div class="pictograms__values">
        <div class="pictograms__values__field" onclick="onPictogramClick">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
      </div>
    </div>

    <label for="login">Password</label>

    <div class="pictograms">
      <p class="pictograms__state" id="password"><%=student.password%></p>
      <div class="pictograms__inputs">
        <img class="pictograms__input__field"  src="/system_images/white.jpg">
        <img class="pictograms__input__field"  src="/system_images/white.jpg">
        <img class="pictograms__input__field"  src="/system_images/white.jpg">
        <img class="pictograms__input__field"  src="/system_images/white.jpg">
        <img class="pictograms__input__field"  src="/system_images/white.jpg">
        <input type="button" class="pictograms__input__delete" value="&#10006;">
      </div>
      <div class="pictograms__values">
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
        <div class="pictograms__values__field">
            <img class="pictograms__values__field__image">
            <p class="pictograms__values__field__value"></p>
        </div>
      </div>
    </div>

    <label for="name">Name</label>
    <input type="text" name="name" value="<%=student.name%>" required>
    <label for="age">Age</label>
    <input type="number" name="age" min="5" max="100" value="<%=student.age%>" required>
    <label for="fgender">Gender</label>
    <select name="gender" value="<%=student.gender%>" required>
      <option>Male</option>
      <option>Female</option>
      <option>Non-binary</option>
      <option>Non-applicable</option>
      <option>I prefer not say</option>
    </select>
    <div class="row">
      <button type="button" name="button" id="updateBtn">Update</button>
      <form action="/delete-pid/id<%=student.id%>" method="POST" name="deleteStudentForm">
        <button type="submit" id="deleteBtn" onclick="return confirmDelete();" value="Delete student">
          Delete
        </button>
      </form>
    </div>
  </form>
</div>

<!--  -->

<div class="block apps">
  <p>Applications</p>
  <button type="button" name="button" class="apps_buttonList">MoneyGame</button>
  <div id="MoneyGame" class="apps_links none">
    <a href="/configure/money-game/id<%=student.id%>">Configure the interface</a>
  </div>
  <!--  -->
  <button type="button" name="button" class="apps_buttonList">AIT</button>
  <div id="AIT" class="apps_links none">
    <a href="/test_settings/id<%=student.id%>">Configure the interface</a>
  </div>
  <!--  -->
  <button type="button" name="button" class="apps_buttonList">Third</button>
  <div id="Third" class="apps_links none">
    <a href="#">First button</a>
    <a href="#">Second button</a>
    <a href="#">Third button</a>
  </div>
</div>

<!-- currentPidLoginAndPassword -->

<script>
  var appsButtons = document.querySelectorAll(".apps_buttonList");
  var apps_links = document.querySelectorAll(".apps_links");

  function onListButtonClick(elem) {
    for (let link of apps_links)
      link.classList.add("none");

    document.getElementById(`${elem.target.innerText}`).classList.remove("none");
  }

  for (let button of appsButtons)
    button.addEventListener("click", onListButtonClick);

  var updateBtn = document.getElementById("updateBtn");
  updateBtn.onclick = function() {

    var updateStudentData = {};

    updateStudentData.login = document.getElementById("login").innerText;
    updateStudentData.password = document.getElementById("password").innerText;
    updateStudentData.name = document.querySelector("input[name='name']").value;
    updateStudentData.age = document.querySelector("input[name='age']").value;
    updateStudentData.gender = document.querySelector("select[name='gender']").value;
    //updateStudentData.photo = $("input[name='photo']").val();
    // var fd = new FormData;
    // updateStudentData.photo = fd.append('img', $("input[name='photo']").prop('files')[0]);
    // console.log(fd.append('img', $("input[name='photo']").prop('files')[0]));

    $.ajax({
      type: 'POST',
      url: '/updateStudent/id<%=student.id%>',
      dataType: 'json',
      data: updateStudentData,
      success: function(data) {
        alert(data.responseText);
      },
      error: function(data) {
        alert(data.responseText);
      }
    });
  }
</script>

<script type="text/javascript" defer>
    var pictograms = <%-pictograms%>;
    var currentPidLoginAndPassword = <%-currentPidLoginAndPassword%>;

    var pictogramsInputs = document.querySelectorAll(".pictograms__inputs");
    var pictogramsValues = document.querySelectorAll(".pictograms__values");

    var pictogramsBtns = document.querySelectorAll(".pictograms__values__field");
    var deleteBtns = document.querySelectorAll(".pictograms__input__delete");

    // adding listeners part
    for (let pictogram of pictogramsBtns)
      pictogram.addEventListener("click", onPictogramClick);

    for (let deleteBtn of deleteBtns)
      deleteBtn.addEventListener("click", onPictogramClick);

    function getImagesFromDB() {
      for (let pictogram of pictogramsValues) {
        var fields = pictogram.querySelectorAll(".pictograms__values__field__image");


        for (let i = 0; i < fields.length; i++) {
          fields[i].src = (pictograms[i].image).replace(/localhost/, "");
        }
        var values = pictogram.querySelectorAll(".pictograms__values__field__value");

        for (let i = 0; i < values.length; i++) {
          values[i].innerText = (pictograms[i].value);
        }
      }
    }

    function getValuesFromDB() {
      if (!currentPidLoginAndPassword.LOGIN.length)
      document.getElementById("login").innerText = "";

      if (!currentPidLoginAndPassword.PASSWORD.length)
      document.getElementById("password").innerText = "";

      var pictograms = document.querySelectorAll(".pictograms");

      var loginInputs = pictograms[0].querySelectorAll(".pictograms__input__field");
      var passwordInputs = pictograms[1].querySelectorAll(".pictograms__input__field");

      currentPidLoginAndPassword.LOGIN.map((item, index) => {
        loginInputs[index].src = item;
      })

      currentPidLoginAndPassword.PASSWORD.map((item, index) => {
        loginInputs[index].src = item;
      })
    }

    function onPictogramClick(elem) {
      var pictogram = elem.target.parentElement;
      var container = pictogram.parentElement.parentElement;
      var state = container.querySelector(".pictograms__state");
      var inputs = container.querySelectorAll(".pictograms__input__field");

      switch(elem.target.className) {
        case "pictograms__input__delete":
          handleDeleteBtnClick();
          break;

        case "pictograms__values__field__image":
          handlePictogramClick();
          break;
      }
      // /////////////////////////////////
      function handlePictogramClick() {
        var imagePath = pictogram.querySelector(".pictograms__values__field__image").src;
        var value = pictogram.querySelector(".pictograms__values__field__value").innerText;

        if (state.innerText.length > 0 && state.innerText.match(/\_\d+/g).length == 5) return;
        state.innerText = state.innerText + value;

        var matches = state.innerText.match(/\_\d+/g);
        inputs[matches.length - 1].src = imagePath;
      }

      function handleDeleteBtnClick() {
        var container = pictogram.parentElement;
        var state = container.querySelector(".pictograms__state");
        var inputs = container.querySelectorAll(".pictograms__input__field");

        if (state.innerText.length == 0) return;

        var images = pictogram.querySelectorAll(".pictograms__input__field");
        images[state.innerText.match(/\_\d+/g).length - 1].src = "/system_images/white.jpg";
        state.innerText = state.innerText.replace(/(\_\d+)$/, "");
      }
    }

    getImagesFromDB();
    getValuesFromDB();

    let fff = '<%-currentPidLoginAndPassword%>';
    console.log(JSON.parse(fff))
</script>
